
.login-container {
    position: absolute;
    left: 10%;
    width: 80%;
    top: 10%;
    height: 80%;
    border: 1px solid #eeeeee;
    .selected {
        color: darkblue;
        background-color: yellow;
    }
    .fr {
        float: right;
    }
    .login-content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

